<div>
	<span>{{element.displayName}}</span>

	<button *ngIf="!element.administrator" class="admin" (click)="switchAdministrator($event)" i18n="make administrator button">make
		administrator
	</button>
	<button *ngIf="element.administrator" class="admin" (click)="switchAdministrator($event)" i18n="make administrator button">retire
		administrator
	</button>


	<button *ngIf="element.administrator" class="remove-user" (click)="removeUser($event)" i18n="remove user button">remove
		user</button>
</div>